@model IEnumerable<RiseCup.Domain.Models.Order>

@{
ViewBag.Title = "Orders";
Layout = "../Shared/_AdminLayout.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Order Date</th>
        <th>User</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
        <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
        <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
        <td>@Html.DisplayFor(modelItem => item.Status)</td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            }
        </td>
    </tr>
    }

</table>
